@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #a6ff00;
  }
}

@layer utilities {
  .bg-gradient {
    background: linear-gradient(to right, #00bfbf 0%, #ff007b 100%);
  }

  .container-custom {
    @apply max-w-7xl mx-auto px-8 lg:px-11;
  }

  .section-height {
    @apply min-h-screen lg:max-h-[1000px];
  }

  @media screen and (min-width: 768px) {
    .main-container {
      overflow-y: scroll;
      height: 100vh;
      scroll-snap-type: mandatory;
      scroll-snap-points-y: repeat(100vh);
      scroll-snap-type: y mandatory;
    }

    .section {
      scroll-snap-align: start;
      position: relative;
    }
  }

  .line-clamp-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

@layer components {
  .title {
    @apply text-5xl md:text-6xl lg:text-8xl text-center text-black font-source-pro;
  }

  .heading-1 {
    @apply font-bold font-source-pro leading-tight;
    font-size: clamp(2rem, 3vw, 3rem);
  }

  .heading-2 {
    @apply font-bold font-source-pro;
    font-size: clamp(1.2rem, 1.6vw, 1.6rem);
  }

  .swiper-pagination-bullet {
    @apply !bg-dark1 h-2 w-2 rounded-full inline-block mx-12;
  }

  .swiper-pagination-bullet-active {
    height: 6px;
    width: 6px;
  }

  .swiper-pagination-dot {
    @apply h-2 w-2 rounded-full inline-block bg-dark1 duration-200;
  }

  .swiper-pagination-dot-active {
    @apply h-1.5 w-1.5 rounded-full inline-block bg-dark1 outline outline-1 outline-offset-[24px] mx-4 duration-200;
  }
}
